body{
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
#contenido{
  width: 800px;
  height: 300px;
  margin: 0 auto;
  border-right: solid;
  border-left: solid;
  border-width: 1px;
  border-color: #9a9a9a;
}
nav ul li{
  float: left;
  list-style-type: none;
  margin-left: 10px;
}
