h1{
  font-size: 50px;
  font-weight: bold;
  color: #8feb96;
}
ul{
  list-style-type: none;
}
.ataquerl{
  color: #5775c3;
  font-weight: bold;
  letter-spacing: 3px;
}
#juana{
  font-size: 36px;
  color: #9a678f;
  font-weight: bolder;
}
